{% extends 'base.html.twig' %}
{% block body %}

    <div id="wrapper">
        <div class="container" style="text-align: right;">
            <br />
            <div class="alert alert-info" style="text-align: left;" >
                <strong>Info</strong>: Symfony3.4 + FOSUserBundle + FOSRestBundle + FOSOauthServerBundle
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                {{ app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">
                   Logout
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                    Login</a>
            {% endif %}
        </div>
        <div id="container">
            <div id="status"></div>
            <div id="next">
                <div class="container">
                    <h1 style="font-size:46px;">Jerry Kim's RESTful API</h1> <!-- Title of page -->
                    <br /><br /><br />
                    <p>Based on simple REST principles, the Jerry Kim's Web API endpoints return JSON data about K-POP stars' name, profession and career, from the data catalogue.</p>
                    <br />
                    <!-- Requests -->
                    <h2 style="font-weight:700;">Requests</h2>
                    <p>Data resources are accessed via standard HTTP requests to an API endpoint. Where possible, Web API uses appropriate HTTP verbs for each action:</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>METHOD</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>GET</td>
                            <td>Retrieves resources</td>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>Creates resources</td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td>Changes and/or replaces resources or collections</td>
                        </tr>
                        <tr>
                            <td>DELETE</td>
                            <td>Deletes resources</td>
                        </tr>
                        </tbody>
                    </table>
                    <br />

                    <!-- Responses -->
                    <h2 style="font-weight:700;">Responses</h2>
                    <p>Web API returns all response data as a JSON object. See the below description of the object.</p>
                    <br />

                    <!-- Object Model -->
                    <h2 style="font-weight:700;">Object</h2>
                    <p>A full list of the K-POP object returned by the endpoints of the Web API.</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>KEY</th>
                            <th>VALUE TYPE</th>
                            <th>VALUE DESCRIPTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>name</td>
                            <td>string</td>
                            <td>The name of K-POP star such as BTS, Ailee, and BP</td>
                        </tr>
                        <tr>
                            <td>profession</td>
                            <td>string</td>
                            <td>The profession of K-POP star like as singer and actor</td>
                        </tr>
                        <tr>
                            <td>career</td>
                            <td>array of strings</td>
                            <td>The careet of the star. Category, performance or film or drama title, and its year</td>
                        </tr>
                        </tbody>
                    </table>
                    <br />

                    <!-- Response Status Codes -->
                    <h2 style="font-weight:700;">Response Status Codes</h2>
                    <p>Web API uses the following response status codes</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>STATUS CODE</th>
                            <th>DESCRIPTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>200</td>
                            <td>OK - The request has succeeded.</td>
                        </tr>
                        <tr>
                            <td>201</td>
                            <td>Created - The request has been fulfilled and resulted in a new resource being created.</td>
                        </tr>
                        <tr>
                            <td>202</td>
                            <td>Accepted - The request has been accepted for processing, but the processing has not been completed.</td>
                        </tr>
                        <tr>
                            <td>204</td>
                            <td>No Content - The request has succeeded but returns no message body.</td>
                        </tr>
                        <tr>
                            <td>400</td>
                            <td>Bad Request - The request could not be understood by the server due to malformed syntax.</td>
                        </tr>
                        <tr>
                            <td>401</td>
                            <td>Unauthorized - The request requires user authentication or, if the request included authorization credentials, authorization has been refused for those credentials.</td>
                        </tr>
                        <tr>
                            <td>403</td>
                            <td>Forbidden - The server understood the request, but is refusing to fulfill it.</td>
                        </tr>
                        <tr>
                            <td>404</td>
                            <td>Not Found - The requested resource could not be found. This error can be due to a temporary or permanent condition.</td>
                        </tr>
                        </tbody>
                    </table>
                    <br /><br /><br />

                </div> <!-- container -->

            </div> <!-- next -->

        </div> <!-- container -->
    </div> <!-- wrapper -->
{% endblock %}

